* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  user-select: none;
}

body {
  font-family: "Poppins";
  font-size: 1.6rem;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --primary-color-black: #152427;
  --primary-color-black-green: #143c3c;
  --scondery-color-light-green: #e2eddf;
  --scondery-color-gray: #6a8383;
  --text-color-white: #fff;
  --text-color-black-gray: #575d5e;
  --text-color-light-gray: #7d8188;
  --scondery-color-blue: #83a17d;
}
/*============= common =========== */
.container {
  width: 1140px;
  max-width: calc(100vw - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.in-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: inline-block;
  border-radius: 40px;
  border: 1.5px solid #143c3c;
  background: var(--primary-color-black-green);
  color: var(--text-color-white);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
  padding: 14px 52px 15px 54px;
}

.btn:hover {
  opacity: 0.9;
}

.line {
  width: 1140px;
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}
/* ======== Header-top ========= */
header {
  font-family: "Public Sans";
  height: 762px;
}

.header-top {
  padding-top: 28px;
  justify-content: flex-start;
}

.navbar {
  width: 322px;
  margin-left: 406px;
  margin-right: 88px;
}

.navbar-item__link {
  position: relative;
  color: var(--text-color-black-gray);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
}

.navbar-item__link:hover {
  text-shadow: 1px 0 0 #000;
}

.navbar-item--active .navbar-item__link::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  width: 16px;
  height: 2px;
  background: var(--primary-color-black-green);
}

.header-btn {
  margin-left: auto;
}
.header-line {
  margin-top: 13px;
}

/* ========== Header-body ========== */
.header-body {
  position: relative;
}

.header-title {
  margin-top: 103px;
  color: var(--primary-color-black);
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
  width: 368px;
}

.header-desc {
  margin-top: 20px;
  display: block;
  width: 368px;
  color: var(--text-color-black-gray);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
}

.header-action__btn {
  padding: 14px 35px 15px 36px;
}
.header-action {
  margin-top: 42px;
  justify-content: flex-start;
  gap: 36px;
}

.header-action__watch {
  gap: 9px;
}

.icon-play {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 99px;
  background-color: #83a17d;
}

.icon-play::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 18px;
  border: 8px solid #fef6fb;
  border-color: transparent transparent transparent #fef6fb;
}

.icon-play::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 55px;
  height: 55px;
  border-radius: 99px;
  border: 5px solid var(--primary-color-black-green);
  border-color: var(--primary-color-black-green) transparent transparent
    var(--primary-color-black-green);
  transform: rotate(-45deg);
}

.header-action__watch span {
  color: var(--primary-color-black);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.group-img {
  gap: 20px;
  margin-right: 23px;
}
.item-img {
  width: 202px;
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
}

.item-img:nth-child(odd) {
  transform: translateY(60px);
}

.item-img:nth-child(even) {
  transform: translateY(137px);
}

.group-flower__wood {
  position: absolute;
  top: 28px;
  left: 297px;
}

.group-flower__flower {
  position: absolute;
  top: 35px;
  left: 254px;
}

.group-flower:last-child .group-flower__wood {
  position: absolute;
  transform: rotate(180deg);
  top: 289px;
  left: 500px;
}

.group-flower:last-child .group-flower__flower {
  position: absolute;
  top: 561px;
  left: 1005px;
}

.circle {
  position: absolute;
  top: 182px;
  left: 625px;
  width: 340px;
  height: 340px;
  border-radius: 340px;
  background: #4dbb9a;
  filter: blur(137px);
  z-index: -1;
}

/*============= group-logo ============ */
.group-logo {
  height: 201px;
  border-radius: 100.5px;
  background: var(--scondery-color-light-green);
  padding: 76px 122px 78px 121px;
  margin-top: 42px;
}

.logo-item__text {
  color: var(--primary-color-black-green);
  font-family: Poppins;
}

.logo-item:first-child .logo-item__text {
  font-size: 3.1rem;
  font-weight: 500;
}

.logo-item:nth-child(2) .logo-item__text {
  font-size: 3.2rem;
  font-weight: 600;
  margin-left: 5px;
}

.logo-item:nth-child(3) .logo-item__text {
  font-size: 2.6rem;
  font-weight: 400;
  margin-left: 11px;
}

.logo-item:nth-child(4) .logo-item__text {
  font-family: "Sonsie One";
  font-size: 2.3rem;
  font-weight: 400;
}

.logo-item:nth-child(5) .logo-item__text {
  font-size: 1.9rem;
  font-weight: 600;
}

/*========== services =========== */
.service {
  height: 793px;
  padding-top: 103px;
}

.service-heading {
  display: flex;
}
.group-heading__name {
  position: relative;
  color: var(--primary-color-black);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62;
  margin-left: 46px;
}

.group-heading__name::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -45px;
  width: 25px;
  height: 1px;
  background: var(--primary-color-black);
}

.group-heading__title {
  position: relative;
  width: 520px;
  height: 104px;
  color: var(--primary-color-black);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24;
  margin-top: 12px;
}

.group-heading__title::after {
  content: "";
  position: absolute;
  top: 78px;
  right: 125px;
  width: 66px;
  height: 2px;
  background: var(--primary-color-black);
}

.group-btn {
  margin-left: 442px;
  margin-top: 79px;
}

.btn-next,
.btn-previous {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 99px;
  background-color: var(--scondery-color-light-green);
  color: var(--primary-color-black-green);
  transition: 0.3s ease-out;
}

.btn-next:hover,
.btn-previous:hover {
  background-color: var(--primary-color-black-green);
  color: #fff;
}

.btn-previous {
  margin-right: 17px;
}

.service-body {
  margin-top: 76px;
}

.service-card {
  width: 370px;
  height: 477px;
  border-radius: 20px;
}

.service-card:hover {
  background: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-card:hover .service-card__photo img {
  transform: scale(1.1);
}

.service-card__photo {
  width: 370px;
  height: 318px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.service-card__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-out;
}

.service-card__text {
  padding: 24px 18px 23px 18px;
}
.service-card__heading {
  color: var(--primary-color-black);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}

.service-card__desc {
  width: 268px;
  /* height: 72px; */
  color: var(--text-color-light-gray);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
  padding-top: 18px;
}

/* ============ about ============= */
.about {
  display: flex;
  height: 727px;
  padding-top: 157px;
}

.about-photo {
  position: relative;
}
.about-photo__item {
  width: 284px;
  height: 480px;
  border-radius: 210px;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
  object-fit: cover;
}

.about-photo__item + .about-photo__item {
  margin-left: 21px;
}

.about-photo__item:first-child {
  transform: translateY(90px);
}

.about-photo__item:last-child {
  transform: translateY(13px);
}

.group-flower__about .group-flower__wood {
  position: absolute;
  top: 14px;
  left: 36px;
  transform: rotate(10deg);
}

.group-flower__about .group-flower__flower {
  position: absolute;
  top: -20px;
  left: 22px;
}

.about-text {
  width: 483px;
  margin-left: auto;
}

.about-text__heading .group-heading__title {
  width: 483px;
  text-align: justify;
}
.about-text__heading .group-heading__title::after {
  content: none;
}

.about-text__desc {
  color: var(--text-color-light-gray);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62;
  width: 478px;
  text-align: justify;
  padding: 11px 0 36px;
}

.about-number {
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #83a17d;
  padding-bottom: 20px;
}

.about-number + .about-number {
  padding-top: 36px;
}

.about-number__percent {
  color: var(--primary-color-black);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24;
  width: 90px;
}

.about-number__desc {
  color: var(--text-color-light-gray);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
  width: 364px;
  text-align: justify;
}

.total {
  position: absolute;
  top: 418px;
  left: 457px;
  width: 143px;
  height: 144px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
  z-index: 1;
  padding: 19px 0 11px;
  font-family: "Public Sans";
}

.total__title {
  color: var(--primary-color-black);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
.total__sub {
  color: var(--text-color-black-gray);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  padding: 6px 0 0 23px;
}

.total-percent {
  color: var(--primary-color-black);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  padding: 10px 0 3px 23px;
}

.total__line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 2px;
  border-radius: 10px;
  background: #83a17d;
}

.total__line {
  position: relative;
  width: 96px;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
  margin-left: 23px;
}

.total__loading {
  color: var(--primary-color-black);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  padding: 3px 0 0 70px;
}

.total__circle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: var(--primary-color-black-green);
}

.total__circle {
  position: relative;
  width: 11px;
  height: 11px;
  border-radius: 99px;
  background-color: #eaeaea;
  margin: 3px 0 0 19px;
}

.total__text {
  color: var(--primary-color-black);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}
.total__team {
  margin-top: 5px;
  padding: 0 17px;
}
.total__avartar--item {
  display: inline-flex;
  width: 16px;
  height: 16px;
}

.total__avartar--item + .total__avartar--item {
  margin-left: -10px;
}

.total__avartar--item img {
  width: 100%;
  height: 100%;
  border-radius: 99px;
  border: 1px solid #fff;

  object-fit: cover;
}

/* ============ process =========== */
.process {
  height: 991px;
  padding: 79px 0 148px;
}

.process-item {
  display: grid;
  grid-template-columns: 107px 411px 571px;
  width: 1079px;
  height: 84px;
}

.process-heading {
  margin-top: 36px;
  margin-bottom: 81px;
}

.process-item:first-child {
  position: relative;
  display: flex;
  gap: 64px;
  width: 1140px;
  height: 185px;
  border-radius: 33px;
  background: var(--scondery-color-light-green);
}

.process-item .item__number {
  color: var(--primary-color-black-green);
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 0.72;
  display: inline-block;
  padding: 57px 0 76px 30px;
}

.process-item .item__text__title {
  color: var(--primary-color-black);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
  padding-top: 72px;
}

.process-item:first-child .item__text__link {
  color: var(--text-color-black-gray);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  display: inline-block;
  padding: 22px 0 0 3px;
  text-decoration: underline;
}

.process-item:not(:first-child) {
  margin: 46px 0 21px 20px;
}

.process-item:not(:first-child) .item__number {
  padding: 7px 0 25px;
}

.process-item:not(:first-child) .item__text__title {
  padding: 15px 0 15px 50px;
}

.process-item:not(:first-child) .item__text__sub {
  color: var(--text-color-light-gray);
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
  margin-left: auto;
}

.process-item:last-child {
  padding-top: 54px;
}

.item__photo img {
  position: absolute;
  bottom: 0;
  right: 92px;
}

.process-line {
  width: 1131px;
  height: 3px;
  background: linear-gradient(
    180deg,
    #83a17d 4.17%,
    rgba(131, 161, 125, 0) 36.46%
  );
}

/*============= project ============ */
.project {
  background-color: var(--primary-color-black-green);
  height: 899px;
  padding: 116px 0 63px;
}

.project-inner {
  position: relative;
}
.project-text {
  display: grid;
  grid-template-columns: 457px 590px;
  grid-template-rows: 60px 44px;
  column-gap: 93px;
}

.project-text__heading {
  position: relative;
  grid-row: 1 / 3;
  color: #e7f9f9;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24;
}

.project-text__heading::after {
  content: "";
  position: absolute;
  bottom: 25px;
  right: 112px;
  display: inline-block;
  width: 66px;
  height: 2px;
  background: var(--scondery-color-blue);
}

.project-text__desc {
  color: var(--scondery-color-gray);
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
}

.project-text__link {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 26px;
}

.text__link__more {
  color: #fff;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
}

.project-video {
  margin-top: 72px;
  width: 1140px;
  height: 544px;
  object-fit: cover;
  border-radius: 10px;
}

.group-flower__project {
  position: relative;
  top: 66px;
  right: 560px;
  transform: rotate(10deg);
  transform-origin: 100% 0;
}
.group-flower__woods {
  position: absolute;
  top: 6px;
  right: -45px;
}

.group-flower__flowers {
  position: absolute;
  top: 102px;
  right: -60px;
}

/* ============ feature =========== */
.feature-inner {
  height: 991px;
  padding: 140px 0 184px;
}

.feature-heading {
  display: flex;
  margin: 0 auto;
  width: 520px;
  color: var(--primary-color-black);
  text-align: center;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24;
}

.feature-desc {
  display: flex;
  margin: 0 auto;
  width: 536px;
  color: var(--text-color-light-gray);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.63;
  padding-top: 20px;
}

.feature-group {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 362px;
  column-gap: 45px;
  margin-top: 103px;
}

.feature-item {
  border-radius: 160px;
  border: 1.5px solid #cecece;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in;
}

.feature-item:hover {
  transform: translateY(-59px);
  border-color: transparent;
  box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.item__icon {
  padding: 80px 0 26px 0;
}

.item__heading {
  color: #152427;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 9px;
}

.item__desc {
  width: 286px;
  height: 118px;
  color: var(--text-color-light-gray);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

/* ================ Blog ================ */
.blog-inner {
  height: 735px;
  margin-bottom: 102px;
}

.blog-header {
  align-items: flex-end;
}

.blog-header__heading .group-heading__title {
  margin-top: 10px;
}

.blog-header__heading .group-heading__title::after {
  right: -5px;
}

.blog-header__desc {
  width: 409px;
  color: var(--text-color-light-gray);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62;
  margin-bottom: 15px;
}

.blog-group {
  margin-top: 90px;
}

.blog-item {
  width: 360px;
  height: 521px;
  border-radius: 0px 0px 20px 20px;
  transition: 0.3s ease;
}

.blog-item:hover {
  box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item:hover img {
  transform: scale(1.2);
}

.blog-body {
  padding: 26px 30px 12px 30px;
}

.item-photo {
  height: 317px;
  border-radius: 40px 40px 0px 0px;
  overflow: hidden;
}

.item-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s ease-out;
}

.blog-body__btn {
  width: 107px;
  height: 26px;
  border-radius: 20px;
  background: var(--scondery-color-light-green, #e2eddf);
  padding: 9px 33px 7px 34px;
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  transition: 0.3s ease;
}

.blog-item:hover .blog-body__btn {
  color: var(--scondery-color-light-green);
  background: var(--primary-color-black-green);
}

.blog-body__desc {
  width: 100%;
  color: var(--primary-color-black-green);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  padding: 9px 0 13px;
}

.blog-body__line {
  width: 297px;
  background: #c4c4c4;
}

.blog-body__day {
  color: var(--text-color-black-gray);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}

/*============== footer =========== */
.footer {
  height: 399px;
  padding: 72px 0 50px;
  background: var(--primary-color-black-green);
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

form {
  position: relative;
}

.form-label {
  display: block;
  color: var(--text-color-white);
  font-size: 3.2rem;
  font-weight: 500;
}

.form-input {
  outline: none;
  border-color: transparent;
  width: 354px;
  padding: 25px 0 36px;
  border-bottom: 1px solid #6a8383;
  background-color: transparent;
  color: #fff;
  font-size: 2.2rem;
  line-height: 1;
}

.form-input::placeholder {
  color: var(--scondery-color-gray);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}

.form-submit {
  position: absolute;
  top: 50px;
  right: 26px;
  border: none;
  outline: none;
  color: #c4c4c4;
  background: transparent;
}

.form-submit:hover {
  cursor: pointer;
  color: #fff;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-top: 47px;
}
.social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 1px solid #c2c2c2;
  border-radius: 99px;
  color: transparent;
  transition: 0.3s ease;
}

.social:hover {
  background-color: #a75325;
  border: none;
}

.footer-right {
  display: flex;
  gap: 20px;
}

.footer__item:first-child {
  color: var(--text-color-white);
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
  padding-bottom: 8px;
}

.footer__item + .footer__item {
  color: var(--scondery-color-gray);
  font-family: "Public Sans";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.25;
}

.line__footer {
  margin-top: 45px;
  background: linear-gradient(
    90deg,
    #143c3c 2.28%,
    #295a5a 55.65%,
    rgba(38, 82, 82, 0) 102.06%
  );
}
